.music {
	border: 3px groove;
	margin: 3%;
	background-color: #b2cecf;
	width: 50%;
	text-align: center;
}

html{
	background-color: #DFD297;
}
.drops {
	height: 100px;
	width: 50%;
  align-self: : top;
	border: 3px solid;
	margin-left: 650px;


}
